<footer class="container text-center mb-3 text-light">
  <div class="row">
    <div class="col-md-4">
      <h5>Información</h5>
      <ul class="list-unstyled">
        <li>Nosotros</li>
        <li>Terminos y Consiciones</li>
        <li>Politicas de Privacidad</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5>Enlaces</h5>
      <ul class="list-unstyled">
        <li>Inicio</li>
        <li>Catalogo</li>
        <li>Contactenos</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5>Redes Sociales</h5>
      <a href="#" class="me-2 text-light"> <img src="../../../assets/images/whatsapp.png" alt="LogoWhatsapp" style="width: 30px; height: 30px"></a>
      <a href="#" class="me-2 text-light"><img src="../../../assets/images/facebook.png" alt="LogoFacebook" style="width: 30px; height: 30px"></a>
      <a href="#" class="text-light"><img src="../../../assets/images/social.png" alt="LogoFacebook" style="width: 30px; height: 30px"></a>
    </div>
  </div>
</footer>