<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand text-black" routerLink="/">H-ZoneTech</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <div class="container">
      <ul class="navbar-nav mx-auto d-flex align-items-center justify-content-center">
        <li class="nav-item"><a class="nav-link text-black" routerLink="/playstation"><img src="assets/images/logotipo-de-playstation.png" alt="LogoPs5" style="width: 30px; height: 30px"> Play Station</a></li>
        <li class="nav-item"><a class="nav-link text-black" routerLink="/xbox"><img src="assets/images/logotipo-de-xbox.png" alt="LogoXbox" style="width: 30px; height: 30px"> Xbox</a></li>
        <li class="nav-item"><a class="nav-link text-black" routerLink="/nintendo"><img src="assets/images/interruptor-de-nintendo.png" alt="LogoNintendo" style="width: 30px; height: 30px"> Nintendo</a></li>
        <li class="nav-item"><a class="nav-link text-black" routerLink="/pc"><img src="assets/images/torre-de-pc (1).png" alt="LogoPC" style="width: 30px; height: 30px"> PC</a></li>
        <li class="nav-item"><a class="nav-link text-black" routerLink="/otros"><img src="assets/images/otros.png" alt="LogoOtros" style="width: 30px; height: 30px"> Otros</a></li>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link text-black" routerLink="/login"><img src="assets/images/carrito-de-compras.png" alt="Carrito" style="width: 30px; height: 30px"></a></li>
      <li class="nav-item"><a class="nav-link text-black" routerLink="/register"><img src="assets/images/usuario.png" alt="Usuario" style="width: 30px; height: 30px"></a></li>
    </ul>
  </div>
</nav>
